<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">home</a>
    <% if(locals.user && locals.user.member === false) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <% } %>
    <form>
        <label for="membership">Become a member</label>
        <button type="button" name="membership" id="membership">join</button>
    </form>


</body>
</html>