<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <% if(locals.user) {%>
    <h1>Wait <%= user.username %></h1>
    <p>You have already signed up.</p>
<% } else {%>
  <form action="/users/create" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Submit</button>
  </form>
  <% } %>
  <a href="/">Back to home</a>
</body>
</html>
